<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<!-- if nameInput4.valid is true then class 'valid' is applied on the contrary class 'valid' is removed -->
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }">
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
    <div>
      <input type="number" (keydown)="changeWidth($event)" [(ngModel)]="box.width">
      <input type="number" [(ngModel)]="box.height">
      <input type="color" [(ngModel)]="box.background">
    </div>
    <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background': box.background,
        'display': 'block'
      }"></div>
      <hr>
      <div [ngStyle]="box2"></div>
    </div>
</div>


<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal' ">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar">
    <!-- <img [style.width.px]="widthImg" [src]="person.avatar"> -->
  </div>
</div>
<hr>

<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Flubber'">La persona es Flubber</p>
  <p *ngSwitchCase="'Julian'">La persona es Julian</p>
  <p *ngSwitchCase="'Marlon'">La persona es Marlon</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2> {{ product.price }} </h2>
    <p> {{ product.name }} </p>
  </div>
</div>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }}  {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Flubber' ">Soy Flubber</p>
<p *ngIf="person.name === 'Rafael' && person.age === 18; else myBlock">Soy Rafael</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>

<h1>NgModel</h1>
<p>Nombre {{ person.name }} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }} </p>
<p>Age: {{ person.age }} </p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }} </p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id quibusdam nobis facere minima laboriosam quaerat neque est ipsam aliquam quo impedit in, aliquid adipisci dolorem sint porro. Dolorem, veritatis facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos voluptates alias aperiam quas unde saepe nobis corrupti repellendus ipsa ipsum, fugit dolore nihil sequi sunt dicta doloremque quo id?</p>
</div>
<p>Nombre: {{ person.name }} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="One more image">
<hr>

<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }} </p>
<p> {{ name }}</p>
<h3>Hola soy {{ name }} y tengo {{ age }} años </h3>
<img width="100" src={{img}} alt="Imagen chingona">
